/* Container */

.sfu-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    &-50perc {
        width: 50%;
    }

    &-33perc {
        width: 33%;
    }

    &-25perc {
        width: 25%
    }
}