
$color--green-light:    #0BFC00;
$color--green-dark:     #2C844D;
$color--red:            #CE0000;
$color--teal:           #5BFEFB;
$color--teal-darken:    #2A5A5A;
$color--black:          #000000;
$color--white:          #ffffff;
$color--grey:           #7F7F7F;
$color--grey-dark:      #4B4B4B;