
$color__green-light:    #0BFC00;
$color__green-dark:     #2C844D;
$color__red:            #CE0000;
$color__teal:           #5BFEFB;
$color__teal-darken:    #2A5A5A;
$color__black:          #000000;
$color__white:          #ffffff;
$color__grey:           #7F7F7F;
$color__grey-dark:      #4B4B4B;